@CHARSET "ISO-8859-1";

/*
 ::selection {
 background-color: #E13300;
 color: white;
 }
 ::moz-selection {
 background-color: #E13300;
 color: white;
 }
 ::webkit-selection {
 background-color: #E13300;
 color: white;
 }
 */
img {
	border: none;
}

.clear {
	clear: both;
}

body {
	background-color: #fff;
	margin: 0px 0px 0px 0px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
	background-color: #f9f9f9;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

h1,.title {
	color: #444;
	background-color: transparent;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 5px 14px 5px;
	padding: 14px 15px 10px 15px;
}

.sub-title {
	padding-left: 10px;
	padding-bottom: 20px;
	font-size: 12px;
	color: #555;
	font-style: italic;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

#body {
	margin: 0 15px 0 15px;
	text-align: justify;
}

.footer {
	text-align: justify;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 22px;
	padding: 0 10px 0 10px;
	margin: 20px 0 0 0;
	background-color: #f6f6f6;
}

#container {
	background-color: #fff;
	margin: 0px;
	/*	border: 1px solid #D0D0D0;
	-webkit-box-shadow: 0 0 5px #D0D0D0;
	min-height: 100%;
	-moz-border-radius: 5px;
	 border-radius: 5px;*/
}

#header_image {
	width: 1000px;
	height: 130px;
	background-color: #333;
	background: url(../images/header.jpg) no-repeat left top;
	float: left;
}

.btn {
	border: 1px solid #ccc;
	background-color: #f1f1f1;
	padding: 6px 40px 6px 40px;
	color: #658240;
	text-decoration: none;
	text-align: center;
}

.btn:hover {
	color: #3D4F7D;
	background-color: #C9DAB4;
}

input {
	border: 1px solid #ccc;
	background-color: #f8f8f8;
	padding: 3px 5px 3px 5px;
	color: #333;
	text-decoration: none;
	text-align: left;
}

button,.buttom {
	border: 1px solid #ccc;
	background-color: #f0f0f0;
	padding: 6px 20px 6px 20px;
	color: #3D4F7D;
	text-decoration: none;
	text-align: center;
}

button:hover,.buttom:hover {
	border: 1px solid #999;
	background-color: #e7e7e7;
}

/*
 Breadcrumbs
 */
.breadcrumbs {
	margin: 10px;
}

/*
 MENU
 * */
#menu-header {
	background: #000;
	display: block;
	margin: 0px;
	height: 35px;
	background: url(../images/topnav_bg.gif) repeat-x;
	font-family: "Tahoma";
}

ul.topnav {
	list-style: none;
	padding: 0 20px;
	display: inline-block;
	margin: 0;
	float: left;
	background: #222;
	font-size: 14px;
	background: url(../images/topnav_bg.gif) repeat-x;
}

ul.topnav li {
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative;
	/*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li a {
	padding: 8px 5px;
	color: #e1e1e1;
	display: block;
	text-decoration: none;
	float: left;
}

ul.topnav li a:hover {
	color: #f1f1f1;
	background: url(../images/topnav_hover.gif) no-repeat center top;
}

ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(../images/subnav_btn.gif) no-repeat center top;
}

ul.topnav li span.subhover {
	background-position: center bottom;
	cursor: pointer;
} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute;
	/*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0;
	top: 35px;
	background: #333;
	margin: 0;
	padding: 0;
	display: none;
	float: left;
	width: 170px;
	border: 1px solid #111;
}

ul.topnav li ul.subnav li {
	margin: 0;
	padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}

html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(../images/dropdown_linkbg.gif) no-repeat 10px
		center;
	padding-left: 20px;
}

html ul.topnav li ul.subnav li a:hover {
	/*--Hover effect for subnav links--*/
	background: #222 url(../images/dropdown_linkbg.gif) no-repeat 10px
		center;
}

/*
LOGIN
*/
.login_container {
	width: 400px;
}

.login_header {
	border: 1px solid #ddd;
	background-color: #f1f1f1;
	padding: 10px;
	text-align: center;
	font-size: 18px;
	color: #658240;
	/*font-weight: bold;*/
}

.login_form {
	border: 1px solid #ddd;
	padding: 4px;
}

.login_table {
	
}

/*
	ERRORS
	*/
.error_notification {
	border: 1px solid #FF9999;
	background: #FFEEEE;
	padding: 10px;
}

.error_title {
	font-size: 16px;
	font-weight: bold;
	padding: 4px;
}

.error_message {
	text-align: justify;
}

#close_error_message {
	cursor: pointer;
}

#close_error_message:hover {
	text-decoration: underline;
}